/* Title Typography */

.title {
  font-size: 2.5rem; /* Larger font size */
  font-weight: 600;  /* Bold */
  color: #333;      /* Dark grey color */
  margin-bottom: 20px; /* Custom bottom margin */
  text-align: center;  /* Center-align the text */
}

/* Create Asset Button Styling */

  .createButton {
    display: flex;
    align-items: center;   
    justify-content: center;  
    border-radius: 20px;  
    padding: 8px 16px; 
    background-color: #0166d3;  
    color: white;   
    font-weight: 600;  
    font-size: 16px;   
    transition: background-color 0.3s ease; 
  }
  
  .createButton:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  
  .createButton .MuiButton-startIcon {
    margin-right: 8px; /* Space between the icon and text */
  }

/* Create / Edit Dialog Styling */

/* Styling for the Close and Create/Update buttons */
.dialogActionsButton {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Lato, "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
  background-color: rgb(224, 30, 90);
  color: rgb(255, 255, 255);
  cursor: pointer;
  height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
  border-style: none;
  transition: background-color 250ms;
  text-wrap: wrap;

}

.dialogActionsButton:hover {
  background-color: rgb(204, 20, 80);
}

/* Styling for the Close Button */
.closeButton {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Lato, "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 0px;
  color: rgb(50, 50, 51);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  height: 36px;
  padding: 7px 15px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(184, 184, 184);
  transition: background-color 250ms;
}

.closeButton:hover {
  background-color: rgb(240, 240, 240);
}

.closeButton:active {
  background-color: rgb(224, 224, 224);
}

/* View Dialog */

/* Styling for the Dialog */
.viewDialog {
  backdrop-filter: blur(2px);
  background: rgba(161, 160, 160, 0.384);
  border-radius: 8px;
}

.dialogTitle {
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  padding: 16px 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Styling for the content */
.dialogContent {
  padding: 24px;
}

.gridItem {
  padding-bottom: 16px;
}

/* Typography Styling */
.viewLabel {
  font-weight: bolder;
  color: #333;
}

.viewValue {
  font-size: 1rem;
  color: #555;
}

.viewWarrantyExpiration,
.viewCreatedAt,
.viewUpdatedAt {
  color: #777;
}

/* Close Button Styling */
.viewCloseButton {
  width: 100%;
  max-width: 200px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 16px;
  background-color: #e01e5a;
  color: white;
  transition: background-color 250ms;
}

 .viewCloseButton:hover{
  background-color: #e01e5a;
  color: white;
 }

/* Icon Styling */
.dialogIcon {
  margin-right: 8px;
}

 